/* IMPOSTAZIONI GENERALI */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;

  background-image: url(../assets/sfondo.png);
}
p {
  margin: 1em;
}
/* HEADER */
header {
  text-align: center;
  border: 1px solid black;
  background: linear-gradient(177deg, #777cde, #3642d2);
  padding-bottom: 1.2em;
  text-decoration: none;
}
#p {
  color: white;
  margin: 1em;
}
.a {
  color: white;
  text-decoration: none;
}
.head {
  font-size: 1.3em;
  margin-bottom: 0.4em;
}
/* MAIN */
#div1 {
  background-color: white;
  padding: 2em;
  font-size: 1em;
}
#bodyh1 {
  font-size: 3em;
}
#clock {
  color: grey;
  margin: 1em;
}
.a2 {
  text-decoration: none;
}
iframe {
  width: 100%;
  border-radius: 20px;
}
/* Tabelle */
table {
  margin-bottom: 2em;
}
th,
td {
  padding: 12px 15px;
  vertical-align: bottom;
  text-align: center;
}
/* FOOTER */
footer {
  text-align: center;
  background-color: #3a3a89;
  background: linear-gradient(179deg, #2d3ec0, #1b1144);
  color: white;
}
